@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #2d2d2d;
}
#contentSection {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
header {
  z-index: 3;
  position: relative;
  flex-direction: column;
  align-items: center;
  & a,
  a:visited {
    color: white;
    background-color: transparent;
    align-self: flex-start;
  }
}
#contentSection {
  width: 100%;

  background-color: #f9f9f9;
  transform-origin: 0% 0%;
  transition: transform 1s ease;
}

.rotate20 {
  transform: rotate(-20deg);
}

.article1 {
  width: 60%;
}
.svg {
  height: 2rem;
}
.pic > img {
  width: 100%;
}
.navButton {
  position: absolute;
  z-index: 2;
  align-self: flex-start;
  background-color: #f97a6a;
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  transform: translateY(-50%) translateX(-50%) rotate(0deg);
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding-bottom: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;

  transition: transform 1s ease;
}
.rotate90 {
  transform: translateY(-50%) translateX(-50%) rotate(-90deg);
}
.navSection {
  position: absolute;
  width: min-content;
  z-index: 10;
  top: 30rem;
  left: 1rem;
  & h5 {
    padding: 1rem;
    font-weight: 400;
  }
}
.navLevel {
  transition: transform 1s ease, opacity 1s ease-in;
  color: white;
  display: flex;
  opacity: 0;
  transform: translateX(-400px);
}
.translateX {
  opacity: 1;
  transform: translateX(0px);
}
